.attribution-devcybercode {
  display: block;
  position: fixed;
  right: 0;
  bottom: 2rem;
  color: white;
  padding: 1rem;
  font-size: 1.5em;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  a {
    color: #8828ff;
  }
}
